@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .clip-path-custom-ellipse {
    clip-path: ellipse(60% 50% at 50% 100%);
  }
  .clip-path-ellipse-20 {
    clip-path: ellipse(70% 50% at 50% 20%);
  }
  .clip-path-inverse-ellipse {
    clip-path: ellipse(70% 50% at 50% 30%);
  }
}
